.my_container {
    display: flex;
    justify-content: flex-end;
    width: 430px;
}

.my_name {
    font-size: 12px;
    color: #3251ae;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.my_user {
    margin-bottom: 30px;
    display: flex;
   align-items: center;
}

.my_user_box {
    display: flex;
    width: 40px;
}

.my_message {
    display: flex;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    justify-content: flex-end;
    font-size: 14px;
}
.my_symbol {
    display: flex;
    align-items: flex-end;
}

.my_decor_symbol {
    border: 2px solid chartreuse;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: chartreuse;
    position: relative;
    left: -0.7em;
}
.my_user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.My_message_box {
    display: flex;
    align-items: end;
    margin-right: 50px;

}