.sidebar_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    font-weight: bold;
}
.sidebar {
    grid-area: sidebar;
    background-color:#ebedf0;
    border-radius: 10px;
}

/*стилизация ссылок*/
a {
    text-decoration:none;
    color: black;
}
a:active{
    color:azure;
}
a:focus{
    text-decoration:underline;
}

.profile {
    margin: 4px;
}

.message {
    margin: 4px;
}
.users {
    margin: 4px;
}
.news {
    margin: 4px;
}