.App {
    display: flex;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 150px 200px 700px 150px;
    grid-template-rows: 50px 800px;
    gap: 1px 1px;
    grid-template-areas: "header header header header" "area1 sidebar content area2";
}

.header {
    grid-area: header;
    background-color:black;
    border-radius: 10px;
}

.area2 {
    grid-area: area2;
}

.area1 {
    grid-area: area1;
}

.sidebar {
    grid-area: sidebar;
    background-color:#8e9bae;
    border-radius: 10px;
    /*min-height: 800px;*/
}

.content {
    background-color: #c6faff;
    border-radius: 10px;
    /*//min-height: 800px;*/
}